body {
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}
.header h2{
    display: inline-block;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    right:16%;
    top: 4%;
}
.header a{
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
img {
    width: 9%;
}

.container {
    text-align: center;
    background-color: rgb(214, 214, 214);
    width: 100vw;
    height: 100vh;
}
h6{
    margin: 0.5%;
}

.chatbox {
    width: 70vw;
    height: 75vh;
    background-color: white;
    margin: auto;
    margin-top: 1%;
    padding-bottom: 1%;
    border-radius: 15px;
    overflow-y: auto;
}

.sendbox{
    width: 70vw;
    margin: auto;
    margin-top: 1.5%;
    text-align: left;
}
input{
    margin: 0;
    height:40px;
    width: 84%;
    font-size: 1.2rem;
    text-indent: 2%;
    border-radius: 25px;
    border-style: none;
    
}
input:focus{
    outline: none;
    border:2px solid black;
}
.chatbox p{
    display: inline-block;
    margin: 0 2%;   
    font-size: 1rem;
    font-weight: 500;
    border-radius: 25px;
    word-break: break-all;
    line-height:1.5;
}
.chatbox .user{
    font-size: 0.7rem;
    font-weight: 700;
    background-color:white;
    margin-top: 1%;
}
.sen{
    text-align: right;
    max-width: 35vw;
    margin-left: 35vw;
}
.rec{
    text-align: left;
    max-width: 30vw;
}
.senp{
    background-color: rgb(77, 255, 77);
    padding:2% 3%;
    text-align: left;
}
.recp{
    background-color: rgb(113, 144, 255);
    padding:2% 3%;
    text-align: left;
}

.btn {
    align-items: center;
    /* border-radius: 12px; */
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: center;
    line-height: 0.6;
    width: 12%;
    margin: 0% 0% 0% 2.9%;
    outline: none;
    padding: 1rem 0rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 7px;
}

.btn:hover {
    background-color: black;
    color: white;
}